body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.h1{
    font-size: 58px;
    color: rgb(231, 175, 34);
    font-weight: 600; 
    margin: 40px 0px;
    flex-shrink: 1;
}

.head1, .head2{
    display: flex;
    justify-content: center;
    font-size: 42px;
    color: rgb(32, 32, 32);
    font-weight: 520; 
    margin: 40px 0px 20px 0px;
    flex-grow: 1;
    flex-basis: 0%;  
}
.head1 span, .head2 span{
    border: rgb(31, 31, 31);
    border-style: solid;
    border-width: 3px;
    border-radius: 5%;
    padding: 4px;
}

.score{
    display: flex;
    margin: 40px 0px 20px 0px;
    flex-grow: 0;
}
.pscore, .cscore{
    flex-grow: 0;
    height: 50px;
    width: 50px;
    background-color: rgb(32, 32, 32);
    margin: 0px 5px;
    font-size: 38px;
    color:rgb(238, 188, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.head1, .pbox{
    padding-right: 20%;
}
.head2, .cbox{
    padding-left:20%;
}*/
.textRes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 30px;
    padding-top: 10px;
}

.mainbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pbox, .cbox{
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}

.vs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    margin:15px;
}

.d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 35px;
    /*border-style: solid;
    border-color: rgb(37,37,37);
    border-width: 2px;
    border-radius: 10%;*/
    width: 50px;
    height: 90px;
}

.cimg{
    width: 120px;
    height: 120px;
}

.choice{
    display: flex;
    align-items:center;
    justify-content: center;
}
.select{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 50px 0px;
    flex-basis: 0%;
    flex-grow: 0;
    /*border-style: solid;
    border-color: rgb(37,37,37);
    border-width: 2px;*/
    border-radius: 5px;
    box-shadow: 0px 3px 20px  #4b4b4b57;
    background-color: rgb(231, 175, 34);
}
.spaceFill{
    flex-grow: 1;
}

.option{
    transition: all .07s ease;
    margin: 5px;
}

.option:hover {
    transform: scale(1.15);
}

.imgScale {
    transform: scale(1.2);
}

.btnLayer {
    display: flex;
    justify-content: center;
}

.btn{
    background-color: rgb(41, 41, 41);
    color: rgb(238, 188, 63);
    height: 40px;
    width: auto;
    font-size: 20px;
    border-style: none;
    border-radius: 5%;
    transition: all .07s ease;
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 3px 20px  #4b4b4b5b;
}

.container{
    transition: all .07s ease;
}

.won{
    background-color: rgba(35, 233, 68, 0.356);
}
.lost{
    background-color:rgba(255, 8, 0, 0.404);
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.281);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlayAct {
    display: flex;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: rgb(238, 238, 238);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .popbtn{
    color: rgb(0, 0, 0);
    background-color: rgb(238, 188, 63);
    height: 40px;
    width: auto;
    border-style:none;
    font-size: 20px;
    border-radius: 5%;
    margin-top: 30px;
    transition: all .07s ease;
  }

  .popbtn:hover{
    transform: scale(1.2);
  }