body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.h1{
    font-size: 58px;
    color: #ffffff;
    font-weight: 600; 
    margin: 40px 0px;
    flex-shrink: 1;
}

.head1, .head2{
    display: flex;
    justify-content: center;
    font-size: 42px;
    color: rgb(32, 32, 32);
    font-weight: 520; 
    margin: 40px 0px 20px 0px;
    flex-grow: 1;
    flex-basis: 0%;
}

.score{
    display: flex;
    margin: 40px 0px 20px 0px;
    flex-grow: 0;
}
.pscore, .cscore{
    flex-grow: 0;
    height: 50px;
    width: 50px;
    background-color: black;
    margin: 0px 5px;
    font-size: 38px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.head1, .pbox{
    padding-right: 20%;
}
.head2, .cbox{
    padding-left:20%;
}*/

.mainbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pbox, .cbox{
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    margin:15px;
}

.drock, .dpaper, .dscissor{
    width: 130px;
    height: 130px;
    margin: 20px;
    border-radius: 10px;
    display: block;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cimg{
    width: 120px;
    height: 120px;
}
.rock{
    width: 115px;
    height: 115px;
}

.option{
    transition: all .07s ease;
}

.option:hover {
    transform: scale(1.2);
}

.imgScale {
    transform: scale(1.2);
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.btn{
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 40px;
    width: auto;
    font-size: 20px;
    border-style: none;
    border-radius: 5%;
    transition: all .07s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.container{
    transition: all .07s ease;
}

.won{
    background-color: rgba(41, 255, 76, 0.425);
}
.lost{
    background-color:rgba(255, 14, 14, 0.541);
}

